{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kronos-Punch Clock</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#navbar">
          </button>
          
          <a class="navbar-brand" href="{% url 'kc_app:index' %}">Clock In</a>
        </div>

        <div class = "collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'kc_app:leave_at' %}">Hours Worked</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a>v0.9 beta</a></li>
          </ul>
        </div>
      

      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
      	{% block content %}{% endblock content %}
      </div>
    </div>


  </body>
</html>