{% extends "kc_app\\base.html" %}
{% load bootstrap3 %}


{% block header %}

  <div class="jumbotron">
    <h2>Instructions:</h2></br>
    To enter another time select the button 'Enter another time'.</br>
  </div>

{% endblock header %}


{% block content %}

<div>
  <p>Clock in time : {{ kc_form.hr_in }}:
    {% if kc_form.min_in < 10 %}
      0{{ kc_form.min_in }}
    {% else %}
      {{ kc_form.min_in }}
    {% endif %}
  </p>

  <p>Time to work : {{ kc_form.hr_to_work }}:
    {% if kc_form.min_to_work < 10 %}
      0{{ kc_form.min_to_work }}
    {% else %}
      {{ kc_form.min_to_work }}
    {% endif %}
  </p>
  
</div>
  <p>Clock out between:

  {% if kc_form.min_to_work == 0 and kc_form.hr_to_work == 0 %}
    <a class="bg-danger">Enter 'time to work'</a> 

  {% else %}
    {{ punch_out.lower_hr }}:

    {% if punch_out.lower_min < 10 %}
      0{{ punch_out.lower_min }} -
    {% else %}
      {{ punch_out.lower_min }} -
    {% endif %} 

    {{ punch_out.upper_hr }}:

    {% if punch_out.upper_min < 10 %}
      0{{ punch_out.upper_min }}
    {% else %}
      {{ punch_out.upper_min }}
    {% endif %}
  {% endif %}

  </p>
  </br>

    <form action="{% url 'kc_app:index' %}">
      {% csrf_token %}
      <button name="button" class="btn btn-primary">Enter another time</button>
    </form>

{% endblock content %}