{% extends "kc_app/base.html" %}
{% load bootstrap3 %}


{% block header %}

  <div class="jumbotron">
    <h2>Instructions:</h2></br>
    Input the time you clocked into Kronos in the boxes 'Clock in hour' and 'Clock in minute'</br>
    then enter the amount of time you would like to work for the day in the boxes 'Hours to work'</br>
    and 'Minutes to work'.  Press 'submit times' button to display the time to leave today.</br>
  </div>

{% endblock header %}


{% block content %}

<form action="{% url 'kc_app:index' %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% buttons %}

    <button name="submit" class="btn btn-primary">submit time</button>
  
  {% endbuttons %}
</form>

{% endblock content %}