{% extends "kc_app/base.html" %}
{% load bootstrap3 %}


{% block header %}

  <div class="jumbotron">
    <h2>Instructions:</h2></br>
    This page is used to determine the hours you will work given the 'clock in' time and </br>
    'clock out' time.  The 'clock out' time is the <b>actual</b> time on the clock that you wish </br>
    to leave at.  After entering the times press the 'submit times' button to display the </br>
    amount of hours you will have worked for the day</br>
  </div>

{% endblock header %}


{% block content %}

<form action="{% url 'kc_app:leave_at' %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% buttons %}

    <button name="submit" class="btn btn-primary">submit time</button>
  
  {% endbuttons %}
</form>

{% endblock content %}